<mat-card>
    <mat-card-title>Excluir Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input name="name" [(ngModel)]="product.name" matInput placeholder="Nome">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="update()">
        Edit
    </button>    
    <!-- <button mat-raised-button [routerLink]="['/products']">
        Cancel
    </button> -->
    <button mat-raised-button (click)="cancel()">
        Cancel
    </button>
    
</mat-card>

